.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}
.menu_items ul {
  display: flex;
  align-items: center;
}
.menu_items ul li {
  list-style: none;
  text-align: center;

  /* identical to box height, or 18px */
}
.menu_items ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 90%;
  margin: 0px 15px;
  color: #ffffff;
  text-decoration: none;
}
.menu_items ul li a[name="section"]:hover {
  background: linear-gradient(92.63deg, #d03042 1.71%, #ffffff 101.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav_btn1 a,
.nav_btn2 a {
  display: inline-block;
  align-items: center;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 90%;
  width: 100px !important;
  text-align: center;

  border-radius: 20px 0px;
  padding: 9px;
  color: #ffffff;
  transition: all 0.3s;
}
.nav_btn1 a {
  background-color: #d03042;
}
.nav_btn1 a:hover {
  color: #d03042;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.nav_btn2 a {
  
  border: 1px solid #ffffff;
}
.nav_btn2 a:hover {
  color: #ffffff;
  background-color: #d03042;
  border-color: #d03042;
}
