.product_page {
  padding: 120px 80px 30px 80px;
  background-color: #200000;
}
.product_page h3 {
  color: var(--white-color);
}
.page_section_body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 25px;
}
.page_section_body p {
  font-weight: 400;
  font-size: 20px;
  line-height: 126.5%;
  /* or 25px */
  color: #ffffff;
  margin: 10px 0px;
}

/* product item */
.pro_vg30 {
  padding: 70px 100px;
  background-image: url("../assets/Group.png");
  background-repeat: no-repeat;
  background-position: bottom 0% right 0%;
}
.vg30_desc {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
}
.pro_slider,
.pro_info {
  flex: 1;
}

.item_heading h4 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  color: #080111;
}
.item_heading h4::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 63px;
  height: 63px;
  left: -10px;

  background: linear-gradient(
    222.3deg,
    #d03042 4.29%,
    rgba(208, 48, 66, 0) 100%
  );
  border-radius: 12.6px 0px;
}
.pro_info p,
.pro_info li,
.pro_info h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 126.5%;
  color: #000000;
  margin: 10px 0px;
}
.pro_info h5 {
  font-weight: 600;
  margin-top: 30px;
}
.pro_info li {
  margin: 5px 0px 0px 20px;
}

.char_vg30 .char_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */

  color: #000000;
}
.char_vg30 table,
td,
tr {
  background: #ffffff;
  border: 1.5px solid #b9b9b9;
  border-collapse: collapse;
}
.char_vg30 table {
  border-radius: 6px;
  margin: 24px auto;
}
td {
  width: 500px;
  padding: 15px 18px;
}
tr td:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;

  color: #000000;
}
tr td:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;

  color: #810000;
}
.char_vg30 {
  margin-top: 50px;
}
.pro_slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_vg30 .pro_slider .proimg {
  width: 450px;
  height: 450px;
  border-radius: 6px;
  /* margin: 40px; */
}

.pro_vg40 {
  background-color: #200000;
}
.pro_vg40 .pro_info p,
.pro_vg40 .pro_info li,
.pro_vg40 .pro_info h5,
.pro_vg40 .pro_info h4,.pro_vg40 .char_title {
  color: var(--white-color);
}
.pro_vg40 .vg30_desc {
  flex-direction: row-reverse;
}
.pro_vg40 td, .pro_vg40 tr{
  background-color: #200000;
}
.pro_vg40 td:first-child{
  color:  #E3C8C8;
  ;
}
.pro_vg40  td:last-child{
  color: var(--white-color);
}