@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:100,200,300,regular,500,600,700,800,900);

:root{
  --primary-color:#D03042;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

h3 {
  font-weight: 600;
  font-size: 64px;
  line-height: 90%;
  /* identical to box height, or 58px */
}
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 126.5%;
  /* or 25px */
}